<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>
firstName: <%= user.firstName %><br>
lastName: <%= user.lastName %><br>
email: <%= user.email %><br>
password: <%= user.password %><br>
type: <%= user.type %><br>
hostel: <%= user.hostel %><br>
</body>
</html>