<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<form method="post">
	Email:<input type="email" name="email" required><br>
	Password:<input type="password" name="password" required><br>
	<input type="submit">
</form>
</body>
</html>