<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
<%= error %>
<form method="post">
	<span>First Name:</span><input type="text" name="firstName" required><br>
	<span>Last Name:</span><input type="text" name="lastName" required><br>
	<span>Email:</span><input type="email" name="email" required><br>
	<span>Password:</span><input type="password" name="password" required><br>
	<span>Type:</span><input type="text" name="type" required><br>
	<span>Hostel:</span><input type="text" name="hostel" required><br>
	<input type="submit">
</form>
</body>
</html>