<!DOCTYPE html>
<html>
<head>
	<title>Submit Complaint</title>
</head>
<body>
<form method="post">
	<span>Category:</span><input type="text" name="category" required><br>
	<span>Description</span><input type="text" name="description" required><br>
	<span>Affecting</span><input type="text" name="affecting" required><br>
	<input type="submit">
</form>
</body>
</html>